.table {
  &__list {
    list-style: none;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: .5rem;
    border-bottom: 1px solid #ececec;
    cursor: pointer;

    &:hover {
      background-color: #ECF6FD;
    }

    .text {
      flex: 1;

      &-title {
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
        color: #333;
      }

      &-desc {
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        color: #797775;
        opacity: 0.6;
        display: flex;
        align-items: center;
        gap: 1rem;

        .time {
          color: #0078D7;
          font-size: 1.6rem;
        }
      }
    }
  }
}